{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "unit-whitelist": ["em", "rem", "s", "px", "%", "vh", "vw"]
  }
}
