{% extends "layouts/_layout.html" %}

{% set page = {
  "title" : "Тестовое задание: Frontend разработчик"
} %}

{% block content %}

<section class="section">
  <div class="section__wrap">

    <h1 class="section__headline">Тестовое задание: Frontend разработчик</h1>

    <article class="section__article">
      <h2 class="section__subtitle">Пункт 1: реализовать баннер</h2>
      <div class="section__band">
        <p class="section__task">Баннер должен перелистываться. Для реализации механизма перелистывания запрещено использовать готовые JS плагины, должен быть написан свой код слайдинга на JavaSсript либо jQuery.</p>
        <a class="section__link" href="banner.html">Результат</a>
      </div>
      <div class="section__demo">
        <h3 class="section__subtitle section__subtitle--offset">1. обычный не зацикленный слайдер</h3>
        <div class="banner demo-1">
          <div class="banner__container">
            <div class="banner__wrapper">
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
            </div>
            <button class="banner__button banner__button--prev" type="button">
              <span class="visually-hidden">Предыдущий слайд</span>
            </button>
            <button class="banner__button banner__button--next" type="button">
              <span class="visually-hidden">Следующий слайд</span>
            </button>
          </div>
        </div>
      </div>
      <div class="section__demo">
        <h3 class="section__subtitle section__subtitle--offset">2. зацикленная версия</h3>
        <div class="banner demo-2">
          <div class="banner__container">
            <div class="banner__wrapper">
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
            </div>
            <button class="banner__button banner__button--prev" type="button">
              <span class="visually-hidden">Предыдущий слайд</span>
            </button>
            <button class="banner__button banner__button--next" type="button">
              <span class="visually-hidden">Следующий слайд</span>
            </button>
          </div>
        </div>
      </div>
      <div class="section__demo">
        <h3 class="section__subtitle section__subtitle--offset">3. зацикленный с автовоспроизведением и остановкой при наведении</h3>
        <div class="banner demo-3">
          <div class="banner__container">
            <div class="banner__wrapper">
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
              <div class="banner__slide">
                <img src="img/banner.jpg" srcset="img/banner@2x.jpg 2x" alt="Описание слайда">
              </div>
            </div>
            <button class="banner__button banner__button--prev" type="button">
              <span class="visually-hidden">Предыдущий слайд</span>
            </button>
            <button class="banner__button banner__button--next" type="button">
              <span class="visually-hidden">Следующий слайд</span>
            </button>
          </div>
        </div>
      </div>
    </article>

    <article class="section__article">
      <h2 class="section__subtitle">Пункт 2: реализовать вывод блока продуктов</h2>
      <div class="section__band">
        <p class="section__task">Реализовать вывод дополнительной информации при наведении. Адаптировать блок для отображения на мобильных и планшетных устройствах.</p>
        <a class="section__link" href="catalog.html">Результат</a>
      </div>
      <div class="section__demo">
        {% include "./partials/_catalog.html" %}
      </div>
    </article>

  </div>
</section>

{% endblock %}
