{% set items = [
  {
    "headline": "Coalesce: Functioning On Impatience T-Shirt",
    "price": "15",
    "cent": "00",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 3
  },
  {
    "headline": "Ink Eater: Krylon Bombear Destroyed Tee",
    "price": "22",
    "cent": "00",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 5
  },
  {
    "headline": "The Only Children: Paisley T-Shirt",
    "price": "55",
    "cent": "00",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 5
  },
  {
    "headline": "Coalesce: Functioning On Impatience T-Shirt",
    "price": "15",
    "cent": "00",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 3
  },
  {
    "headline": "Zolof The Rock And Roll Destroyer: LOL Cat T-shirt",
    "price": "13",
    "cent": "50",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 5
  },
  {
    "headline": "The Get Up Kids: Band Camp Pullover Hoodie",
    "price": "12",
    "cent": "30",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 1
  },
  {
    "headline": "Kenneth Cole New York Men's Con-verge Slip-on",
    "price": "169",
    "cent": "99",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 3
  },
  {
    "headline": "ASICS® Men's GEL-Kayano® XII",
    "price": "134",
    "cent": "99",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 5
  },
  {
    "headline": "CN Clogs Beach/Garden Clog",
    "price": "15",
    "cent": "99",
    "desc": "When you're dress-hunting, you want to find something that's fun, comfortable, flattering, and uniquely you! So, why not start with a sundress? They always brighten up the environment around you and inspire positivity wherever you go! Looking for some color to brighten up your day? Check out the cotton sundresses. ",
    "stars": 1
  }
]
%}

<div class="catalog">
  <div class="catalog__items">

  {% for item in items %}
    <div class="catalog__item product">
      <article class="product__wrap">
        <div class="product__head">
          <div class="product__image-box">
            <img class="product__image" src="img/product-{{loop.index}}.jpg" alt="Описание слайда">
          </div>
          <a class="product__link" href="#">
            <h2 class="product__headline">{{ item.headline }}</h2>
          </a>
          <div class="product__band">
            <p class="product__price">
              <span class="product__valuta">$</span><b>{{ item.price }}</b>.{{ item.cent }}
            </p>
            <a class="product__button" href="#">Add to Cart</a>
          </div>
          <div class="product__stars">
            <div class="product__stars-inner">
              {% for star in range(0, item.stars) %}
              <svg
                class="product__star"
                width="14" height="12"
                viewBox="0 0 576 512"
                role="img"
                focusable="false"
                aria-hidden="true">
                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
              </svg>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="product__back">
          <div class="product__clear-area"></div>
          <div class="product__description">
            <p>{{ item.desc }}</p>
          </div>
        </div>
      </article>
    </div>
  {% endfor %}

  </div>
</div>
