<header class="header">
  <div class="header__overlay container">
    <div class="header__inner header__logo">
      <h1 class="logo">
        <span class="logo__text" lang="en">DEVICE</span>
        <span class="visually-hidden">DEVICE - интернет-магазин экспериментальных гаджетов</span>
      </h1>
    </div>
    <div class="header__inner header__band">
      <div class="header__search search">
        <form class="search__box" action="#" method="post">
          <svg
            class="search__icon"
            width="16" height="16"
            viewBox="0 0 16 16"
            role="img"
            focusable="false"
            aria-hidden="true">
            <path fill="currentColor" d="M15.7 14.3l-3.104-3.104A6.979 6.979 0 0014 7a7 7 0 10-7 7 6.963 6.963 0 004.193-1.404L14.3 15.7c.185.184.38.3.7.3a1 1 0 001-1 .93.93 0 00-.3-.7zM2 7c0-2.762 2.238-5 5-5s5 2.238 5 5-2.238 5-5 5-5-2.238-5-5z"></path>
          </svg>
          <label class="visually-hidden" for="site-search">Поиск по сайту</label>
          <input class="search__input" id="site-search" type="search" name="search" placeholder="Поиск по сайту">
          <button class="search__button">Найти</button>
        </form>
      </div>
      <div class="header__sub-links">
        <a class="header__sub-link header__sub-link--left sub-link" href="#">
          <span class="sub-link__icon-box">
            <svg
              class="sub-link__icon"
              width="13" height="12"
              viewBox="0 0 13 12"
              role="img"
              focusable="false"
              aria-hidden="true">
              <path d="M.032 12h12.937c-.163-2.643-2.074-4.837-4.671-5.543a3.47 3.47 0 001.687-2.972 3.485 3.485 0 00-6.97 0c0 1.264.68 2.361 1.688 2.972C2.106 7.163.194 9.357.032 12z" fill="currentColor"></path>
            </svg>
          </span>
          <span class="sub-link__text">Войти</span>
        </a>
        <a class="header__sub-link sub-link" href="#">
          <span class="sub-link__icon-box">
            <svg
              class="sub-link__icon"
              width="10" height="10"
              viewBox="0 0 10 10"
              role="img"
              focusable="false"
              aria-hidden="true">
              <path d="M8 2h1.984v8H8zM0 3h1.984v7H0zM4 0h2v10H4z" fill="currentColor"></path>
            </svg>
          </span>
          <span class="sub-link__text">Сравнить</span>
        </a>
        <a class="header__sub-link sub-link" href="#">
          <span class="sub-link__icon-box">
            <svg
              class="sub-link__icon"
              width="12" height="12"
              viewBox="0 0 12 12"
              role="img"
              focusable="false"
              aria-hidden="true">
              <path d="M11.864 3.017a.429.429 0 00-.327-.154H9.225V4.09c0 .563-.484 1.022-1.08 1.022-.594 0-1.078-.458-1.078-1.022V2.863H4.909V4.09c0 .563-.485 1.022-1.08 1.022-.595 0-1.078-.458-1.078-1.022V2.863H.438a.43.43 0 00-.327.154.472.472 0 00-.108.358l.776 7.134c.015.806.642 1.455 1.411 1.455h7.595c.77 0 1.396-.649 1.411-1.455l.776-7.134a.476.476 0 00-.108-.358z" fill="currentColor"></path>
              <path d="M3.829 4.499c.239 0 .433-.184.433-.409V1.84c0-.632.672-1.022 1.295-1.022h1.079c.655 0 1.078.401 1.078 1.022v2.25c0 .225.194.409.431.409.239 0 .433-.184.433-.409V1.84C8.577.773 7.761 0 6.636 0H5.557c-1.19 0-2.159.826-2.159 1.84v2.25c0 .225.194.409.431.409z" fill="currentColor"></path>
            </svg>
          </span>
          <span class="sub-link__text">Корзина</span>
        </a>
      </div>
    </div>
    <nav class="header__inner header__menu menu">
      <ul class="menu__list">
        <li class="menu__item menu__item--start">
          <a class="menu__link menu__link--large" href="#">Каталог товаров</a>
          <div class="menu__sublist-wrap menu__sublist-wrap--lvl-2">
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#">Виртуальная реальность</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Моноподы для селфи</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Экшн-камеры</a>
              </li>
            </ul>
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#">Фитнес-браслеты</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#">Умные часы</a>
              </li>
            </ul>
            <ul class="menu__list">
              <li class="menu__item">
                <a class="menu__link" href="#">Квадрокоптеры</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu__item">
          <a class="menu__link menu__link--large" href="#">Доставка</a>
        </li>
        <li class="menu__item">
          <a class="menu__link menu__link--large" href="#">Гарантия</a>
        </li>
        <li class="menu__item menu__item--end">
          <a class="menu__link menu__link--large" href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
